<div class="col-md-4">
    <h5>Категории</h5>
          <ul class="list-group">
            <li class="list-group-item"><a href="#">Все новости</a></li>
            <li class="list-group-item"><a href="#">Спорт</a></li>
            <li class="list-group-item"><a href="#">Технологии</a></li>
            <li class="list-group-item"><a href="#">Культура</a></li>
            <li class="list-group-item"><a href="#">Наука</a></li>
            <li class="list-group-item"><a href="#">Юмор</a></li>

          </ul>
</div>